.contact-item {
    // box model
    @include clearfix;
    padding-bottom: 20px;

    // typography
    font-size: 0;

    @include atTabletsPortrait {
        // box model
        padding-left: 5px;
    }

    &__icon {
        // box model
        float: left;
        width: 40px;

        @include atTabletsPortrait {
            // box model
            width: 50px;
        }
    }

    &__content {
        // positioning
        position: relative;
        
        // box model
        padding-left: 85px;
        padding-right: 20px;

        @include atTabletsPortrait {
            // box model
            padding-left: 95px;
        }

        &::before {
            content: "";

            // positioning
            position: absolute;
            left: 67px;

            // box model
            height: 25px;
            height: 100%;
            width: 2px;

            // visual
            background-color: $mainOrange;
        }
    }

    &__title {
        // typography
        color: #aaaaaa;
        font-family: $mainFont;
        font-size: 1rem;
        font-weight: 400;

        @include atTabletsPortrait {
            // typography
            font-size: 1.125rem;
        }

        .contact-item--order & {
            // typography
            color: $copyLight;
        }
    }

    &__text {
        // typography
        color: #ffffff;
        font-family: $mainFont;
        font-size: 0.8125rem;
        line-height: 1.5;

        @include atTabletsPortrait {
            // typography
            font-size: 1rem;
        }

        a {
            // typography
            color: #ffffff;
            text-decoration: none;

            .contact-item--order & {
                // typography
                color: $copyDark;
            }
        }

        .contact-item--order & {
            // typography
            color: $copyDark;
        }
    }
}