.price-table {
    // box model
    width: 100%;
    border-collapse: collapse;

    // visual

    td {
        // box model
        margin: 0;
        padding: 3px 20px;

        // typography
        color: $copyDark;
        font-family: $mainFont;
        line-height: 1.4;
        
        // visual
        border: 1px solid #eeeeee;
        
        &[colspan="4"] {
            // typography
            font-family: $captionFont;
            font-size: 1rem;

            // visual
            background-color: #eeeeee;
            // border: 1px solid $mainYellow;
        }
    }
}