.price-item {
    // box model
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 35px 20px;
    
    // visual
    border-bottom: 1px solid #f1f1f1;

    @include atTabletsPortrait {
        // box model
        height: 40vh;
        min-height: 350px;
        width: 50%;
        padding: 35px 30px;

        // visual
        border-bottom: none;
    }

    @include atTabletsLandscape {
        // box model
        padding: 35px 50px;
    }

    &--border-right {
        @include atTabletsPortrait {
            // visual
            border-right: 1px solid #e5e5e5;
        }
    }

    &--border-top {
        @include atTabletsPortrait {
            // visual
            border-top: 1px solid #e5e5e5;
        }
    }

    &:hover {
        // visual
        background-color: $mainYellow;

        .price-item__title {
            // typography
            color: $copyBrown;
        }
    }

    &__icon {
        // box model
        float: left;
        padding-top: 6px;
        width: 30px;

        @include atTabletsPortrait {
            // box model
            float: none;
            width: 50px;
            height: 80px;
        }
    }

    &__title {
        // box model
        margin: 0;
        padding: 0;
        padding-left: 40px;
        padding-bottom: 20px;

        // typography
        color: $copyDark;
        font-family: $captionFont;
        font-size: 1.125rem;
        line-height: 1.4;

        @include atTabletsPortrait {
            // box model
            padding-left: 0;
        }
    }

    &__table {
        // box model
        width: 100%;

        // typography
        font-family: $mainFont;
        font-size: 0.8125rem;
        line-height: 1.4;

        @include atTabletsPortrait {
            // typography
            font-size: 0.875rem;
        }

        td:nth-child(1) {
            // box model
            padding-right: 20px;
            padding-bottom: 5px;
            width: 65%;

            // typography
            font-weight: 500;
            
            &::before {
                content: "• ";
            }
        }

        td:nth-child(2) {
            // box model
            width: 35%;

            // typography
            font-weight: 700;
        }
    }
}