.service {
    // box model
    padding-bottom: 20px;
    &__icon {
        // box model
        float:left;
        padding-top: 0.5em;
        width: 64px;
    }

    &__description {
        // box model
        padding-left: 89px;
    }

    &__title {
        // positioning
        position: relative;

        // typography
        color: $copyDark;
        font-family: $captionFont;
        font-size: 1.5rem;

        &::after {
            content: "";

            // positioning
            position: absolute;
            left: 0;
            bottom: -6px;

            // box model
            height: 2px;
            width: 20px;

            // visual
            background-color: $mainOrange;
        }
    }

    &__list {
        // box model
        margin: 0;
        padding: 0 1.125rem;
    }

    &__item {
        // typography
        font-size: 1.125rem;
        line-height: 1.4;
    }
}