.site-section {
    // box model
    padding: 60px 0;

    @include atDesktop {
        // box model
        padding: 100px 0;
    }

    &--grey {
        // visual
        background-color: $bgLightGrey;
    }

    &--price {
        // box model
        padding-bottom: 0;
    }

    &__header {
        // box model
        padding-bottom: 60px;

        // typography
        font-size: 0;

        @include atTabletsPortrait {
            // box model
            padding: 0 15px;
            padding-bottom: 60px;
        }

        @include atDesktop {
            // box model
        }
    }

    &__title {
        // positioning
        position: relative;
        z-index: 1;

        // box model
        display: inline-block;
        vertical-align: top;
        margin: 0;
        padding: 0;
        padding-left: 30px;
        width: 100%;

        // typography
        color: $copyDark;
        font-family: $captionFont;
        font-size: 1.5rem;
        // border: 1px solid red;

        @include atTabletsPortrait {
            // box model
            width: 50%;

            // typography
            font-size: 2rem;
        }

        @include atTabletsLandscape {
            // typography
            font-size: 2.25rem;
        }

        small {
            // box model
            display: block;
            padding-bottom: 0.5em;

            // typography
            font-family: $mainFont;
            font-size: 0.875rem;
            font-weight: 400;
        }

        &::before {
            content: "";

            // positioning
            position: absolute;
            top: -20px;
            left: 0;
            z-index: -1;

            // box model
            height: 90px;
            width: 70px;

            // visual
            border: 2px solid $mainOrange;

            &atTabletsPortrait {
                // box model
                height: 100px;
            }
        }
    }

    &__subtitle {
        // box model
        display: none;
        margin: 0;
        width: 50%;

        // typography
        font-family: $mainFont;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.4;
        // border: 1px solid red;

        @include atTabletsPortrait {
            // box model
            display: inline-block;
            vertical-align: bottom;
            padding-left: 30px;
            // padding-top: 10px;
            width: 50%;
        }
    }
}