.wrapper {
    // box model
    margin: 0 auto;
    padding: 0 15px;

    @include atTabletsPortrait {
        // box model
        // padding: 0 20px;
    }

    @include atDesktop {
        // box model
        padding: 0;
        width: 1200px;
    }

    @include clearfix;
    // border: 1px solid red;
}