// breakpoints

@mixin atSmall {
    @media (max-width: 699px) {
        @content;
    }
}

@mixin atTabletsPortrait {
    @media (min-width: 700px) {
        @content;
    }
}

@mixin atTabletsLandscape {
    @media (min-width: 900px) {
        @content;
    }
}

@mixin atDesktop {
    @media (min-width: 1200px) {
        @content;
    }
}


// clearfix

@mixin clearfix {
    &::after {
        content: "";

        // box model
        clear: both;
        display: table;
        width: 100%;
    }
}