//colors
$bgDark: #1e1e1e;
$bgLightGrey: #f6f6f6;
$mainYellow: #f9fd20;
$mainOrange: #ffc527;

$copyDark: #2f2f2f;
$copyBrown: #6f1f1f;
$copyLight: #666666;

//fonts
$captionFont: "Intro", sans-serif;
$mainFont: "Open Sans", sans-serif;