@font-face {
    font-family: 'Intro';
    src: local('Intro'), url('../../assets/fonts/intro.woff2') format('woff2'), url('../../assets/fonts/intro.woff') format('woff'), url('../../assets/fonts/intro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
