html {
    // box model
    box-sizing: border-box;

    // typography
    font-size: 16px;

    // visual
    overflow-x: hidden;
}

a {
    // typography
    color: $copyDark;

    &:hover {
        // typography
        color: $mainOrange;
    }
}

*,
*::after,
*::before {
    box-sizing: border-box;
}