.button {
    // box model
    display: block;
    margin-top: 20px;
    padding: 30px 50px;
    width: 100%;

    // typography
    color: $copyDark;
    font-family: $captionFont;
    font-size: 1.125rem;
    line-height: 1.4;
    text-align: center;
    text-decoration: none;

    // visual
    border: 2px solid $mainOrange;
    transition: all 0.3s ease-out;

    &:hover {
        // typography
        color: $copyDark;
        
        // visual
        background-color: $mainOrange;
    }

    @include atTabletsPortrait {
        // box model
        width: 400px;
        margin: 0 auto;
        margin-top: 20px;
    }

    @include atDesktop {
        // box model
        float: right;
        margin-top: -140px;
        width: auto;

        // typography
        font-size: 1.5rem;
    }
}