.hero {
    // box model
    padding: 40px 15px;

    // visual
    overflow: hidden;
    background-color: #f4eee0;

    @include atTabletsPortrait {
        // box model
        padding-top: 60px;
    }

    @include atTabletsLandscape {
        // box model
        padding: 60px 30px;

        // visual
        background-image: url('../../assets/img/hero-bg.jpg');
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
    }

    @include atDesktop {
        // box model
        margin-top: -220px;
        padding: 100px 0;
        padding-top: 320px;
        padding-left: 20px;
    }

    &__content {
        // box model
        margin: 0 auto;

        @include atTabletsLandscape {
            // box model
            padding: 40px 30px;

            // visual
            background-color: rgba($mainYellow, 0.9);
        }


        @include atDesktop {
            // positioning
            position: relative;
            transform: translateX(-80px);
            z-index: 2;

            // box model
            width: 1200px;
            padding: 60px 80px;

            // visual
            background-color: rgba($mainYellow, 0.9);

            &::after {
                content: "";

                // positioning
                position: absolute;
                top: 0;
                left: 100%;
                z-index: -1;

                // box model
                height: 100%;
                width: 9999px;

                // visual
                background-color: rgba($mainYellow, 0.9);
            }
        }
    }

    &__title {
        // positioning
        position: relative;
        z-index: 1;

        // box model
        padding: 0;
        padding-left: 14px;
        margin: 0;

        // typography
        color: $copyDark;
        font-family: $captionFont;
        font-size: 1.25rem;
        font-weight: 400;

        @include atDesktop {
            // box model
            margin: 0;
            padding: 0;

            // typography
            font-size: 1.5rem;
        }
    }

    &__list {
        // box model
        padding: 0;
        margin: 30px 0;
        padding-left: 22px;
    }

    &__item {
        // box model
        padding-bottom: 15px;

        // typography
        color: $copyDark;
        font-family: $mainFont;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.4;

        @include atDesktop {
            // typography
            font-size: 1.25rem;
        }

        a {
            // typography
            color: $copyDark;
            font-weight: 700;
            text-decoration: none;

            &:hover {
                // typography
                text-decoration: underline;
            }
        }
    }

    &__order {
        // typography
        color: $copyBrown;
        font-size: 1.25rem;
        text-align: center;

        @include atDesktop {

            // typography
            text-align: left;
        }
    }

    &__button {
        // box model
        display: block;
        padding: 10px;
        margin-top: 20px;

        // typography
        color: $copyDark;
        font-family: $captionFont;
        font-size: 1rem;
        text-decoration: none;
        text-align: center;

        // visual
        border: 2px solid $copyBrown;
        transition: all 0.3s ease-out;

        &:hover {
            // typography
            color: #ffffff;

            // visual
            background-color: $copyBrown;
        }

        @include atTabletsPortrait {
            // box model
            margin: 0 auto;
            margin-top: 30px;
            width: 300px;
        }

        @include atDesktop {
            // box model
            display: inline-block;
            vertical-align: top;
            margin-left: 20px;
            margin-top: -14px;
        }
    }
}