.main-nav {
    // box model
    margin: 0 auto;

    @include atDesktop {
        // box model
        width: 1200px;
    }

    ul {
        // box model
        margin: 0;
        padding: 0;
    }

    li {
        // visual
        list-style: none;
    }
}