.main-nav {
    // box model
    margin: 0 auto;

    @include atDesktop {
        // box model
        width: 1200px;
    }

    ul {
        // box model
        margin: 0;
        padding: 0;

        // typography
        text-align: center;
    }

    li {
        // box model
        display: block;

        // visual
        list-style: none;

        @include atTabletsLandscape {
            // box model
            display: inline-block;
        }
    }

    a {
        // box model
        display: block;
        padding: 10px 30px;

        // typography
        color: $copyDark;
        font-family: $mainFont;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-family: $captionFont;
        font-size: 1.25rem;

        text-decoration: none;
    }
}