.main-nav {
    // box model
    margin: 0 auto;

    @include atDesktop {
        // box model
        width: 1200px;
    }

    ul {
        // box model
        margin: 0;
        padding: 0;

        // typography
        text-align: center;
    }

    li {
        // box model
        display: block;

        // visual
        list-style: none;

        @include atTabletsPortrait {
            // box model
            display: inline-block;
        }
    }

    a {
        // box model
        display: block;
        padding: 10px 30px;

        // typography
        color: $copyDark;
        font-family: $captionFont;
        font-size: 1.25rem;
        text-transform: uppercase;
        text-decoration: none;

        @include atTabletsPortrait {
            // box model
            padding: 10px 15px;

            // typography
            font-size: 0.9rem;
        }

        @include atTabletsLandscape {
            // box model
            padding: 10px 20px;

            // typography
            font-size: 1rem;
        }

        @include atDesktop {
            // box model
            display: block;
            padding: 10px 30px;

            // typography
            font-size: 1.25rem;
        }
    }
}