.order-popup {
    // positioning
    position:fixed;
    top: 0;
    left: 0;
    z-index: 99;

    // box model
    min-height: 100%;
    width: 100%;

    // visual
    background-color: rgba(0, 0, 0, 0.7);
}