.order {
    // box model
    @include clearfix;

    // typography
    font-size: 0;

    &__contacts {
        float: left;
        width: 35%;
    }

    &__form {
        // box model
        float: right;
        width: 65%;
    }
}