.price {
    // typography
    font-size: 0;


    &__header {
        // box model
        display: none;
        vertical-align: top;
        width: 50%;
        height: 80vh;
        min-height: 700px;
        padding-top: 300px;

        // typography
        text-align: right;

        // visual
        background-color: #a6a6a6;
        background-image: url('../../assets/img/price-bg.jpg');
        background-position: center center;
        background-size: cover;

        @include atDesktop {
            // box model
            display: inline-block;
        }
    }

    &__title {
        // positioning
        position: relative;
        z-index: 1;

        // box model
        display: inline-block;
        vertical-align: top;
        margin: 0;
        padding: 0;
        padding-left: 30px;
        width: 600px;

        // typography
        color: #ffffff;
        font-family: $captionFont;
        font-size: 2.25rem;
        text-align: left;

        small {
            // box model
            display: block;
            padding-bottom: 0.5em;

            // typography
            font-family: $mainFont;
            font-size: 0.875rem;
            font-weight: 400;
        }

        &::before {
            content: "";

            // positioning
            position: absolute;
            top: -20px;
            left: 0;
            z-index: -1;

            // box model
            height: 100px;
            width: 70px;

            // visual
            border: 2px solid $mainOrange;
        }
    }

    &__body {
        // box model
        display: inline-block;
        vertical-align: top;
        width: 100%;
        min-height: 700px;

        // visual

        @include atDesktop {
            // box model
            height: 80vh;
            width: 50%;
        }
    }
}