.service {
    // box model
    padding-bottom: 40px;

    @include atTabletsPortrait {
        // box model
        padding: 0 15px;
        padding-bottom: 40px;
    }

    &__icon {
        // box model
        float: left;
        width: 30px;
        padding-bottom: 10px;

        @include atTabletsPortrait {
            // box model
            // float:left;
            padding-top: 0.5em;
            width: 64px;
        }
    }

    &__description {
        // box model

        @include atTabletsPortrait {
            // box model
            padding-left: 89px;
        }
    }

    &__title {
        // positioning
        position: relative;

        // box model
        margin-top: 0;
        padding-left: 40px;
        padding-bottom: 10px;

        // typography
        color: $copyDark;
        font-family: $captionFont;
        font-size: 1rem;

        @include atTabletsPortrait {
            // box model
            margin-top: 0.5em;
            padding-left: 0;

            // typography
            font-size: 1.5rem;
        }

        &::after {
            content: "";

            // positioning
            position: absolute;
            left: 40px;
            bottom: -6px;

            // box model
            height: 2px;
            width: 20px;

            // visual
            background-color: $mainOrange;

            @include atTabletsPortrait {
                left: 0;
            }
        }
    }

    &__list {
        // box model
        margin: 0;
        padding: 0 1.125rem;
        padding-right: 0;
    }

    &__item {
        // typography
        font-size: 1rem;
            // font-size: 1.125rem;
        line-height: 1.4;
        
        @include atTabletsPortrait{
            // typography
            font-size: 1.125rem;
        }
    }
}