.site-header {
    // box model
    // height: 275px;

    // visual
    background-color: $bgDark;
    background-image: url('../../assets/img/header-bg.jpg');
    background-position: center center;
    background-size: cover;

    &__menu-content {
        // visual
        background-color: rgba($mainYellow, 0.9);
    }

    &__logo-n-title {
        // box model
        float: left;
    }

    &__logo {
        // positioning
        position: relative;
        z-index: 2;

        // box model
        padding-top: 50px;

        // typography
        color: #ffffff;
        font-family: $captionFont;
        font-size: 2rem;
        font-weight: 400;

        span {
            // typography
            color: $mainOrange;
        }

        &::before {
            content: "";

            // positioning
            position: absolute;
            top: 30px;
            left: -30px;
            z-index: -1;

            // box model
            height: 160px;
            width: 100px;

            // visual
            border: 5px solid $mainOrange;
            border-right: none;
        }
    }

    &__title {
        // box model
        margin: 0;
        padding: 15px 0;
        padding-bottom: 40px;

        // typography
        color: #ffffff;
        font-family: $captionFont;
        font-size: 2rem;
        font-weight: 400;
        text-transform: uppercase;

        // visual
    }

    &__contacts {
        // box model
        float: right;
        padding-top: 50px;

        // typography
        color: #ffffff;
        text-align: right;
    }

    &__phone {
        // typography
        color: #ffffff;
        font-family: $captionFont;
        font-size: 3rem;
    }

    &__button {
        // box model
        display: inline-block;
        margin-top: 10px;
        padding: 15px;
        padding-left: 20px;

        // typography
        color: $copyDark;
        font-family: $captionFont;
        font-size: 1.5rem;
        text-decoration: none;
        
        // visual
        background-color: $mainYellow;
    }
}