.site-footer {
    // box model
    // height: 700px;
    // margin-top: 200px;

    // typography
    font-size: 0;

    // visual
    background-color: #334d62;
    background-image: url("../../assets/img/footer-bg.jpg");
    background-position: left top;
    background-size: cover;
    // background-attachment: fixed;

    @include atTabletsLandscape {
        // box model
        margin-top: 200px;
    }

    &__contacts {
        // box model
        padding-left: 10px; 
        padding-top: 30px;
        // border: 1px solid red;

        @include atTabletsPortrait {
            // box model
            // padding-left: 20px;
        }

        @include atTabletsLandscape {
            // box model
            float:left;
            margin-left: 20px;
            width: 400px;
        }

        @include atDesktop {
        }
    }

    &__map {
       // box model
       display: none;

        @include atDesktop {
            // box model
            display: block;
            float:left;
            width: 400px;
            border: 1px solid transparent;
        }

    }

    &__feedback-form {
        // box model
        margin: 0 -15px;

        @include atTabletsLandscape {
            // box model
            float:right;
            margin-right: 20px;
            width: 400px;
        }

        // @include atDesktop {
        //     // box model
        //     float:right;
        //     padding-left: 30px;
        //     width: 400px;
        // }
    }
}