.site-header {
    // positioning
    position: relative;

    // box model
    padding-bottom: 15px;

    // visual
    background-color: $bgDark;
    background-image: url('../../assets/img/header-bg.jpg');
    background-position: center center;
    background-size: cover;
    box-shadow: 0 0 14px 0 rgba($bgDark, 0.7);

    @include atTabletsPortrait {
        // box model
        padding-bottom: 0;
    }

    @include atDesktop {
        // positioning
        position: fixed;
        top: 0;
        z-index: 11;

        // box model
        width: 100%;

        &--compact {
            // box model
            padding-bottom: 0;
        }
    }

    &__menu-content {
        // positioning
        position: absolute;
        top: 140px;
        z-index: -10;

        // box model
        width: 100%;

        // visual
        opacity: 0;
        background-color: rgba($mainYellow, 0.9);

        @include atTabletsPortrait {
            // positioning
            position: relative;
            top: 0;
            z-index: 10;

            // visual
            opacity: 1;
        }

        &--is-visible {
            // visual
            opacity: 1;
            z-index: 10;
        }
    }

    &__menu-icon {
        // positioning
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 11;

        // box model
        height: 24px;
        width: 24px;

        // visual
        cursor: pointer;

        @include atTabletsPortrait {
            // box model
            display: none;
        }

        &::before {
            content: "";

            // positioning
            position: absolute;
            top: 0;
            left: 0;
            transform-origin: 0 50%;

            // box model
            display: block;
            height: 4px;
            width: 24px;

            // visual
            background-color: $mainOrange;
            transition: transform 0.3s ease-out;
        }

        &__middle {
            // positioning
            position: absolute;
            top: 10px;
            left: 0;

            // box model
            display: block;
            height: 4px;
            width: 24px;

            // visual
            background-color: $mainOrange;
            transition: all 0.3s ease-out;
        }

        &::after {
            content: "";

            // positioning
            position: absolute;
            bottom: 0;
            left: 0;
            transform-origin: 0 50%;

            // box model
            display: block;
            height: 4px;
            width: 24px;

            // visual
            background-color: $mainOrange;
            transition: transform 0.3s ease-out;
        }

        &--close-x {
            &::before {
                transform: rotate(45deg) scaleX(1.178);
            }

            .site-header__menu-icon__middle {
                opacity: 0;
                transform: scaleX(0);
            }

            &::after {
                transform: rotate(-45deg) scaleX(1.178);
            }
        }
    }

    &__logo-n-title {
        @include atTabletsPortrait{
            // box model
            float: left;
        }

        @include atDesktop {
            // box model
            padding-left: 50px;
        }
    }

    &__logo {
        // positioning
        position: relative;
        z-index: 2;

        // box model
        padding-left: 30px;
        padding-top: 30px;

        // typography
        color: #ffffff;
        font-family: $captionFont;
        font-size: 1.5rem;
        font-weight: 400;

        // visual
        transition: all 0.3s ease-out;

        @include atDesktop {
            // box model
            padding-left: 0;
            padding-top: 50px;

            // typography
            font-size: 1.5rem;

            .site-header--compact & {
                // box model
                padding-top: 30px;

                // typography
                font-size: 1rem;
            }
        }

        span {
            // typography
            color: $mainOrange;
        }

        &::before {
            content: "";

            // positioning
            position: absolute;
            top: 15px;
            left: 0;
            z-index: -1;

            // box model
            height: 104px;
            width: 86px;

            // visual
            background-image: url('../../assets/img/logo.svg');
            background-repeat: no-repeat;
            transition: all 0.3s ease-out;

            @include atDesktop {
                // positioning
                top: 30px;
                left: -50px;

                // box model
                height: 156px;
                width: 110px;

                .site-header--compact & {
                    // positioning
                    top: 10px;

                    // box model
                    // height: 100px;
                    width: 80px;
                }
            }
        }
    }

    &__title {
        // box model
        margin: 0;
        padding-top: 10px;
        padding-left: 30px;

        // typography
        color: #ffffff;
        font-family: $captionFont;
        font-size: 0.875rem;
        font-weight: 400;
        text-transform: uppercase;

        // visual
        transition: all 0.3s ease-out;

        @include atTabletsPortrait {
            // box model
            padding-bottom: 35px;
        }

        @include atTabletsLandscape{
            // box model
            padding-bottom: 40px;
        }

        @include atDesktop {
            // box model
            padding: 10px 0;
            padding-bottom: 40px;

            // typography
            font-size: 1.5rem;

            .site-header--compact & {
                // box model
                padding: 5px 0;
                padding-bottom: 27px;

                // typography
                font-size: 1rem;
            }
        }
    }

    &__contacts {
        // box model
        padding-top: 50px;
        padding-right: 10px;

        // typography
        color: #ffffff;
        text-align: right;

        @include atTabletsPortrait {
            // box model
            float: right;
            padding-top: 20px;
        }

        @include atDesktop {
            // box model
            padding-top: 30px;
        }
    }

    &__phone {
        // box model
        padding-bottom: 5px;

        // typography
        color: #ffffff;
        font-family: $captionFont;
        font-size: 1.75rem;

        @include atDesktop {
            font-size: 3rem;
        }

        a {
            // typography
            color: #ffffff;
            text-decoration: none;

            &:hover {
                // visual
                opacity: 0.8;
            }
        }
    }

    &__button {
        // box model
        display: block;
        margin-top: 10px;
        padding: 15px 20px;

        // typography
        color: $copyDark;
        font-family: $captionFont;
        font-size: 1.25rem;
        text-align: center;
        text-decoration: none;
        
        // visual
        background-color: $mainYellow;
        transition: all 0.3s ease-out;

        &:hover {
            // typography
            color: #ffffff;
            
            // visual
            background-color: $copyDark;
            background-color: $copyBrown;
        }

        @include atTabletsPortrait {
            // box model
            display: inline-block;

            // typography
            font-size: 1.25rem;
        }

        @include atTabletsLandscape {
            // typography
            font-size: 1.25rem;
        }

        @include atDesktop {
            .site-header--compact & {
                // box model
                margin-bottom: -60px;
                margin-top: -60px;
                // positioning
                // position: absolute;
                // top: -1000px;

                // box model
                opacity: 0;
            }
        }
    }
}